@import 'tailwindcss';
@import './theme.css';
@import './typography.css';
@import './components.css';
@import './article.css';
@plugin '@tailwindcss/typography';

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  overscroll-behavior: none;
}
